{% extends "layout/base.html" %}

{% block title %}Verify E-mail{% endblock %}

{% block content %}
<section class="container mx-auto">

    <h1 class="text-2xl font-bold my-5">Verify Your E-mail Address</h1>
    <div class="bg-white p-5">

        <p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup
            process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please
            contact us
            if
            you do not receive the verification e-mail within a few minutes.</p>
    </div>
</section>

{% endblock %}